{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <h2 style="font-size: 30px">About Us</h2>
    <p>This project was built for CSCE 489: Recommender Systems at Texas A&M University</p>
    <h2>This project was made by:</h2>
    <a href="https://github.com/benrmn/" target="_blank">Benjamin Ramon</a>
    <a href="https://www.linkedin.com/in/ian-stephenson/" target="_blank">Ian Stephenson</a>
    <a href="https://www.linkedin.com/in/marklinkii/" target="_blank">Mark Link</a>
    <a href="#" target="_blank">Timothy Feldman</a>


{% endblock %}
