<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - GGs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
    <div class="container is-widescreen">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/"><strong>GGs</strong></a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarHome">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu" id="navbarHome">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">Home</a>
                    <a class="navbar-item" href="/about">About Us</a>
                    <a class="navbar-item" href="/thanks">Special Thanks</a>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <footer class="footer">
            <div class="content has-text-centered">
                <strong>Connect With Us</strong>
                <a href="#">Ben</a>
                <a href="#">Ian</a>
                <a href="#">Mark</a>
                <a href="#">Tim</a>
            </div>
        </footer>
    </div>
</body>
</html>