{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <br>
    <p>Welcome to GGs, a video game recommender.</p>
    <p>To get started enter your username below.</p>
    <br>
    <input class="input" type="text" placeholder="Username" style="display: inline;">
    <br>
    <input class="button is-dark" type="submit" value="Get Recommendations" style="width: 20vw">
    <br>
    <h2 style="font-size: 18px"><strong>Your Recommendations</strong></h2>
    <br>
    <div class="columns is-mobile is-multiline is centered">
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Game Name</p>
                </header>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Game Cover Art">
                    </figure>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Game Name</p>
                </header>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Game Cover Art">
                    </figure>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Game Name</p>
                </header>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Game Cover Art">
                    </figure>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Game Name</p>
                </header>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Game Cover Art">
                    </figure>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Game Name</p>
                </header>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Game Cover Art">
                    </figure>
                </div>
            </div>
        </div>
    </div>
{% endblock %}