{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <br>
    <p>Welcome to GGs, a video game recommender.</p>
    <p>To get started enter your username below.</p>
    <br>
    <form action="/recs" method="post">
        <input class="input" type="text" placeholder="Username" name="username" style="display: inline;">
        <input class="button is-dark" type="submit" value="Get Recommendations" style="width: 20vw">
    </form>
    <br>
    <h2 style="font-size: 18px"><strong>Your Recommendations</strong></h2>
    <br>
    <div class="columns is-mobile is-multiline is centered">
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">{{ngames[0]}}</p>
                </header>
                <div class="card-image">
                    <figure class="image is-4by3">
                      <a href="{{lgames[0]}}">
                        <img src={{dgames[0]}} alt="Game Cover Art">
                      </a>
                    </figure>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">{{ngames[1]}}</p>
                </header>
                <div class="card-image">
                    <figure class="image is-4by3">
                      <a href="{{lgames[1]}}">
                        <img src={{dgames[1]}}  alt="Game Cover Art">
                      </a>
                    </figure>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">{{ngames[2]}}</p>
                </header>
                <div class="card-image">
                    <figure class="image is-4by3">
                      <a href="{{lgames[2]}}">
                        <img src={{dgames[2]}}  alt="Game Cover Art">
                      </a>
                    </figure>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">{{ngames[3]}}</p>
                </header>
                <div class="card-image">
                    <figure class="image is-4by3">
                      <a href="{{lgames[3]}}">
                        <img src={{dgames[3]}}  alt="Game Cover Art">
                      </a>
                    </figure>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">{{ngames[4]}}</p>
                </header>
                <div class="card-image">
                    <figure class="image is-4by3">
                      <a href="{{lgames[4]}}">
                        <img src={{dgames[4]}}  alt="Game Cover Art">
                      </a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
