{% extends "base.html" %}

{% block title %}Special Thanks{% endblock %}

{% block content %}
    <h2 style="font-size: 30px;">Thank you for all the help!</h2><br>
    <p style="font-size: 18px">Steam API:<a href="https://partner.steamgames.com/doc/webapi/ISteamApps" target="_blank">Steam</a></p><br>
    <p style="font-size: 18px">Image API:<a href="https://api.rawg.io/docs/" target="_blank">Rawg</a></p><br>
    <p style="font-size: 18px">Dataset:<a href="https://www.kaggle.com/tamber/steam-video-games/data" target="_blank">Kaggle</a></p><br>
    <p style="font-size: 18px">Also, thank you to those who filled out our survey and helped with our evaluation.</p><br>
    <p style="font-size: 18px">Finally, we want to say thank you to Cav for a great semester!</p><br>
{% endblock %}